BOT_TOKEN=
VRC_USERNAME=
VRC_PASSWORD=
VRC_TOTP_KEY=
ADMIN_ID=
EXPORT_RATE_LIMIT=1500
DEV=false
WORLD_NAME_MATCHERS=World:,World :,📸✨🌏World:,World name:,World,ワールド名
AUTHOR_NAME_MATCHERS=Author:,Author :,👤Author:,By:,Author,by
EXPORT_RATE_LIMIT=25
FORWARD_PLAYER_COUNT_THRESHOLD=40
LOW_CAPACITY_THRESHOLD=20
